<section>
  <b>Bookshelf</b>, est un site internet développé, lors d'une série de tutoriels.
  Le site permet d'enregistrer et présenter des livres, avec une gestion utilisateur.
</section>

<section>
  <article>
    <h2>L'empire Beradal Tome 1 : L'empire change</h2>
    <div>
      Dans l'univers, l'empire Beradal est en proie aux changements. Alors que son dirigeant, Osman de Hue,
      est remplacé par Ralon Zaloc, les planètes se rebellent, des groupes terroristes font leur apparition
      et des soldats de l'armée impériale, font défection.
    </div>
    <div>
      Écrit par <b>Christophe Daloz - De Los Rios</b>, le <b>29/10/2021</b>. Ajouté le <b>05/04/2022</b>.
    </div>
  </article>

  <article>
    <h2>Starcraft II : La dette du diable</h2>
    <div>
      Nous sommes en l'an 2494. Environ cinq ans auparavant, Jim Raynor et Tychus Findley étaient membres
      des Diables du Ciel, une unité d'élite des marines confédérés réputés pour leurs nerfs d'acider et leur
      connaissance du combat.
    </div>
    <div>
      Écrit par <b>Christie Golden</b>, le <b>22/06/2011</b>. Ajouté le <b>05/04/2022</b>.
    </div>
  </article>

  <article>
    <h2>Splinter Cell : Échec et mat</h2>
    <div>
      Rares sont les personnes qui connaissent son existence. Mais quand des millions de vies sont en jeu,
      il intervient : Sam Fisher, l'agent spécial du Troisième Échelon, une unité ultra secrète de la CIA,
      se charge des missions trop délicates ou trop risquées pour les agents ordinaires.
    </div>
    <div>
      Écrit par <b>David Michales</b>, le <b>11/05/2011</b>. Ajouté le <b>05/04/2022</b>.
    </div>
  </article>

  <article>
    <h2>Noob Reroll : Arc 1 - Horizon Reborn</h2>
    <div>
      Nous sommes en 2060, Zack Middle, un adolescent en deuil, repense à la vie incroyable de son grand-père
      tout juste décédé. C'était un champion d'e-sport devenu célèbre grâce au MMORPG Horizon 9.0,
      dont les serveurs ont fermé il y a plusieurs dizaines d'années. Son avatar s'appelait Fantöm.
    </div>
    <div>
      Écrit par <b>Fabien Fournier</b>, le <b>28/02/2020</b>. Ajouté le <b>05/04/2022</b>.
    </div>
  </article>

  <article>
    <h2>Starcraft : La reine des lames</h2>
    <div>
      Ancien Marshal devenu rebelle, Jim Rayor a définitivement rompu avec l'empereur Arcturus Mengsk, assoiffé de pouvoir.
      Fou de rage après que Mengsk eut trahi Sarah Kerrigan, la puissante télépathe, en la livrant aux Zergs voraces,
      Raynor a perdu toute foi en ses semblables.
    </div>
    <div>
      Écrit par <b>Aaron Rosenberg</b>, le <b>07/04/2010</b>. Ajouté le <b>05/04/2022</b>.
    </div>
  </article>
</section>
